<h1>All the Sea Lions</h1>

<div class='row'>

<% @sea_lions.each do |lion| %>
  <div class='small-4 columns sea-lion'>
    <h3><%= lion.name %> the Sea Lion</h3>
    <p><a class='see-lion' href="/sea_lions/<%= lion.id %>"><%= lion.name %>'s profile</a></p>
    <p><%= lion.name %> likes the <%= lion.ocean %> ocean.</p>
    <p><%= lion.name %> has <%= lion.whisker_count %> whiskers.</p>
  </div>
<% end %>

</div>
